name: Rest Assured

on: [push, pull_request]

jobs:
  api-testing:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.0
      - name: Set up JDK
        uses: actions/setup-java@v5.1.0
        with:
          distribution: 'adopt'
          java-version-file: .java-version
      - name: Run gradlew
        run: ./gradlew test
      - uses: actions/upload-artifact@v5.0.0
        with:
          name: report.html
          path: build/reports/tests/test/index.html